Package: com.fpt.dejavu
Name: Dejavu
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Stop adding duplicate songs to playlists.
Maintainer: Frozen Penguin
Author: Frozen Penguin
Section: Tweaks
Version: 1.1.1
Installed-Size: 424
