Package: com.fpt.tabcount
Name: TabCount
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description:Show number of tabs in Safari
Maintainer: Frozen Penguin
Author: Frozen Penguin
Section: Tweaks
Version: 1.0.0
Installed-Size: 168
