Package: com.fpt.tabcount
Name: TabCount
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description:Show number of tabs in Safari
Depiction: https://frozen-penguin.github.io/depictions/?p=com.fpt.tabcount
Maintainer: Frozen Penguin
Author: Frozen Penguin
Section: Tweaks
Version: 1.0.0
Installed-Size: 168
