Package: com.fpt.colorgrabber
Name: ColorGrabber
Depends: mobilesubstrate 
Architecture: iphoneos-arm
Description: Colourise keyboard prediction bar grabber/tab
Depiction: https://frozen-penguin.github.io/depictions/?p=com.fpt.colorgrabber
Maintainer: Frozen Penguin
Author: Frozen Penguin
Section: Tweaks
Version: 0.0.1-31
Installed-Size: 284
