Package: com.fpt.dejavu2
Name: Dejavu2
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Stop adding duplicate songs to playlists.
Maintainer: Frozen Penguin
Author: Frozen Penguin
Section: Tweaks
Version: 1.0.0-55+debug
Installed-Size: 428
