Package: com.fpt.lesscontrol
Name: LessControl
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Merges CC pages and removes airplay and night shift.
Depiction: https://frozen-penguin.github.io/depictions/?p=com.fpt.lesscontrol
Maintainer: Frozen Penguin
Author: Frozen Penguin
Section: Tweaks
Version: 1.0.3-2+debug
Installed-Size: 176
