Package: com.fpt.airflip
Name: airflip
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Architecture: iphoneos-arm
Description: An airdrop flip switch
Depiction: https://frozen-penguin.github.io/depictions/?p=com.fpt.airflip
Maintainer: Frozen Penguin
Author: Frozen Penguin
Section: Addons (Flipswitch)
Version: 0.0.2-2+debug
Installed-Size: 216
